.svg-white {
  fill: white;
  color: white;
}

.svg-dark {
  fill: #111;
  color: #111;
  filter: brightness(0%);
}

#inputs-1 {
  input {
    background: #EBEBEB;
  }

  button {
    background: #00838C;
  }
}

.bg-ye {
  background: #ffeea9;
}


.p2-bg {
  width: 100%;
  margin: 0;
  background: #f4f8fc;
}